@font-face {
	font-family: Rubik;
	src: url(assets/Rubik.ttf);
}

html, body {
    font-family: Rubik !important;
    background: linear-gradient(to top, rgb(7, 24, 46) 0%, rgb(32, 48, 61) 100%);
    color: white !important;
}

.accordion-button:after {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-item, .accordion-button, .accordion-body {
    background-color: #152031 !important;
	border-radius: 8px !important;
	box-shadow: none !important;
}

.nGY2GThumbnail { 
	border-radius: 8px !important;
}